<div class="container">
  <div class="row">
    <h3>Trainers</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @trainers.each do |trainer| %>
            <tr>
              <%= render trainer %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div style="float: right;">
      <img class="pokemon-image" src="http://cdn.thatssotrue.com/2012/3/5/thatssotrue_3447_1330987350.gif" alt="HTML5 Icon" align="right">
  </div>
  </div>
</div>
